{% extends 'gastos/base.html' %}
{% load static %}

{% block body_class %}product-body{% endblock %}

{% block body %}
  <a class="skip-link" href="#main-content">Ir para o conteúdo</a>
  <div class="app product-shell">
    {% include 'gastos/partials/sidebar.html' %}
    <main class="main product-main" id="main-content">
      {% block app_content %}{% endblock %}
    </main>
  </div>

  {% include 'gastos/partials/mobile_nav.html' %}
  {% include 'gastos/partials/ai_panel.html' %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'assets/js/app.js' %}?v=20260925-business-core"></script>
{% endblock %}
